<%= form_with(model: @comment, url: [@post, @comment], local: true) do |form| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger"><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</div>

      <% @comment.errors.full_messages.each do |message| %>
        <div class="alert alert-info"><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_area :content, id: :comment_content, class: 'form-control mb-3' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary mb-3' %>
  </div>
<% end %>
