<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger"><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</div>

      <% user.errors.full_messages.each do |message| %>
        <div class="alert alert-info"><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :user_username, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :user_password, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
