<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger"><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</div>

      <% post.errors.full_messages.each do |message| %>
        <div class="alert alert-info"><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title, class: 'form-control mb-3' %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :post_conten, class: 'form-control mb-3' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
