<% if notice.present? %>
  <div class="alert alert-success" id="notice"><%= notice %></div>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
  <strong>Author:</strong>
  <%= @post.user.username %>
</p>

<div class="bg-light mb-5">
  <%= simple_format(@post.content, class: 'p-4') %>
</div>


<p>
  <strong>Comments:</strong>
  <%- @post.comments.each do |comment| %>
    <div>
      <blockquote class="blockquote font-italic">
        <%= simple_format(comment.content) %>
        <footer class="blockquote-footer"><%= comment.user.username %></footer>
      </blockquote>
    </div>
  <% end%>
</p>

<p>
  Add comment:
  <%= render 'comments/form' %>
</p>

<div class="my-3">
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
</div>
